<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('public/css/error.css') }}"/>
        <link href="//fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
    {% endblock %}
    <link rel="icon" href="{{ asset('public/favicon.ico') }}"/>
    <title>{% block title %}Banana Station{% endblock %}</title>
</head>
<body>
    <div>
        <div class="header">
            <img src="{{ asset('public/img/drunk.png') }}">
        </div>
        <div class="content">
            <h1>404 : Go home you're drunk !</h1>
            <a href="{{ path('banana_station_core_racine') }}">Click here for flying to home ...</a>
        </div>
    </div>
</body>
</html>