/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/

/composer.phar
/.idea/*
/src/BananaStation/PokeBundle/Resources/server/node_modules
/src/BananaStation/TronBundle/Resources/server/node_modules
/web/public/video/*
/web/public/img/core/projet/*