###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
/.idea/
/public/img/core/news/
/public/img/core/projet/
/public/video/music/
/src/Ressources/poke/node_modules/
/src/Ressources/tron/node_modules/