<!--[if lte IE 9]>
<div class="ie-nope">
    <h1>Comment osez vous venir sur ces terres, truandaille de paysan ! Votre cheval est trop vieux !
    Veuillez enterrer la pauvre bête et en utiliser une plus récente !</h1>
</div>
<![endif]-->