parameters:
    database_driver:        pdo_mysql
    database_host:          127.0.0.1
    database_port:          ~
    database_name:          bananastation
    database_user:          root
    database_password:      ~

    mailer_transport:       smtp
    mailer_auth_mode:       ~
    mailer_host:            127.0.0.1
    mailer_port:            ~
    mailer_user:            ~
    mailer_password:        ~
    mailer_from:            no-reply@banana-station.local

    host_main:              .banana-station.local
    host_core:              www.banana-station.local
    host_music:             music.banana-station.local
    host_notifier:          notifier.banana-station.local
    host_poke:              poke.banana-station.local
    host_tron:              tron.banana-station.local

    node_poke:              ~
    node_tron:              ~

    ez_recaptcha_public:    ~
    ez_recaptcha_private:   ~

    locale:                 fr
    secret:                 ThisTokenIsNotSoSecretChangeIt
