html, body {
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
}

.alert {
    width: 60%;
    margin: 10px auto 10px auto;
    padding: 10px;
    border-radius: 3px;
    text-align: center;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
}

.good {
    color: #111111;
    background-color: #01ff70;
}

.bad {
    color: #dddddd;
    background-color: #ff4136;
}

@media screen and (max-width: 768px) {
    .alert {
        width: 90%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .alert {
        width: 70%;
    }
}