html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.header {
    position: relative;
    padding: 10px;
    background: #01ff70;
}

.header h1 {
    font-family: 'Lobster', cursive;
    font-size: 2em;
    text-align: center;
    color: #111111;
}

@media screen and (max-width: 768px) {
    .header h1 {
        margin: 0;
    }
}