{% extends "::core.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('public/css/core/form.css') }}"/>
{% endblock %}

{% block body %}
    <section>
        <h2>Suppression d'une note</h2>

        <form method="post">
            <p>Êtes vous sûr de vouloir supprimer la note "{{ note.contenu|slice(0, 30) }} ..." ?</p>
            <input type="submit" value="Supprimer"/>
        </form>
    </section>
{% endblock %}