{% extends "::core.html.twig" %}
{% block body %}
    <section id="main" class="wrapper">
        <div class="container">
            <h2>Modifier une note</h2>

            {{ form_start(form) }}
            <div class="row uniform 50%">
                <div class="12u$">
                    {{ form_widget(form.contenu, { 'attr': { 'placeholder': 'Contenu de la note', 'rows': 4 } }) }}
                </div>
                <div class="12u$">
                    <input type="submit" value="Publier" class="special" />
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}