<html>
<head>
    <meta charset="UTF-8">
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('css/error.css') }}"/>
        <link href="//fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
    {% endblock %}
    <link rel="icon" href="{{ asset('favicon.ico') }}"/>
    <title>{% block title %}Banana Station{% endblock %}</title>
</head>
<body>
<div>
    <div class="header">
        <img src="{{ asset('img/drunk.png') }}" alt="Drunk men">
    </div>
    <div class="content">
        <h1>404 : Go home you're drunk !</h1>
        <a href="{{ path('core_racine') }}">Click here for flying to home ...</a>
    </div>
</div>
</body>
</html>