{% extends "user.html.twig" %}
{% block body %}
    <section>
        <h2>Conditions générales d'utilisation de banana-station.fr</h2>

        <h3>Définition et objet de banana-station.fr</h3>

        <p>1. Banana-station.fr (ci-après dénommé « le Service ») est un site mis en œuvre par Riera Léo et Voyer
            Vincent
            permettant la diffusion de leurs projets à travers un système de blog.</p>

        <p>2. L’utilisation du Service est facultative et gratuite. Les usagers choisissent librement les services en
            ligne
            auxquels ils souhaitent accéder.</p>

        <h3>Fonctionnalités</h3>

        <p>3. Ce Service offre trois fonctionnalités aux usagers.</p>
        <ul>
            <li><p>L'usager n'ayant pas créer de compte personnel sur le Service peut librement visiter toutes les pages
                    à
                    l'exception des pages permettant de gérer son compte personnel et les pages réservées à
                    l'administration du service.</p>
            </li>

            <li><p>L'usager peut, en créeant un compte personnel, accéder à la page permettant de le gérer. La page
                    permettant
                    de
                    gérer le compte personnel offre la possibilité à l'usager de changer le mot de passe lié à son
                    compte
                    personnel
                    ou changer l'adresse email liée à son compte personnel.</p>
            </li>

            <li><p>L'usager possédant un compte personnel pourra alors s'authentifier sur le Service. L'authentification
                    sur
                    le
                    Service lui permettra de rédiger des commentaires en dessous de toutes les pages de projet et lui
                    permettra de
                    « plusmer » ou « moinsmer » un projet.</p>
            </li>
        </ul>
        <h3>Modalités d’inscription et d’utilisation de banana-station.fr</h3>

        <p>4. L’accès au Service est ouvert à toute personne.</p>

        <p>5. Lors de l’inscription au Service, l’usager choisit un identifiant et un mot de passe. Le mot de passe doit
            être
            composé de huit à trente caractères. L’usager doit conserver son identifiant et son mot de passe qui lui
            seront
            utiles pour tout accès à son compte personnel sur banana-station.fr et aux services qui y sont liés.</p>

        <p>6. Le mot de passe doit être choisi par l’usager de façon qu’il ne puisse pas être deviné par un tiers.
            L’usager
            s’engage à en préserver la confidentialité. L’usager s’engage à avertir immédiatement les administeurs du
            service de
            toute utilisation non autorisée de ces informations, les administeurs ne pouvant être tenus pour responsable
            des
            dommages éventuellement causés par l’utilisation du mot de passe par une personne non autorisée.</p>

        <p>7. L’usager du Service fournit une adresse électronique valide lors de son inscription au service. Cette
            adresse
            est
            utilisée pour l'activation du compte personnel, ainsi que la réattribution d'un mot de passe lorsque
            l'usager
            estime ne plus s'en souvenir. Cette adresse peut aussi être utilisée par les administeurs du Service pour
            communiquer avec l'usager en cas de problème ou questionnement à propos du Service.</p>

        <p>8. Les administrateurs du Service se réserve le droit de résilier, sans préavis ni indemnité d’aucune sorte,
            tout
            compte de banana-station.fr faisant l’objet d’une utilisation illicite ou frauduleuse ou contraire à l’objet
            défini
            dans l’article 3.</p>

        <p>9. L’utilisation du Service requiert une connexion et un navigateur internet. Afin de garantir un bon
            fonctionnement
            du Service, il est conseillé d’utiliser les versions de navigateurs les plus récentes possibles.</p>

        <h3>Modification et évolution de banana-station.fr</h3>

        <p>10. Les administrateurs se réservent la liberté de faire évoluer, de modifier ou de suspendre, sans préavis,
            le
            Service pour des raisons de maintenance ou pour tout autre motif jugé nécessaire. Aucune page d’information
            ne sera affichée à l’usager lui mentionnant cette indisponibilité.</p>

        <p>11. L’indisponibilité du Service ne donne droit à aucune indemnité.</p>

        <p>12. Les termes des présentes conditions générales d’utilisation peuvent être amendés par arrêté du ministre
            chargé de
            la réforme de l’état. Il appartient à l’usager de s’informer des conditions générales d’utilisation du
            Service
            en
            vigueur.</p>

        <h3>Traitement des données à caractère personnel</h3>

        <p>13. Les administeurs s’engagent à prendre toutes les mesures nécessaires permettant de garantir la sécurité
            et la
            confidentialité des informations fournies par l’usager.</p>

        <p>14. Les administeurs du Service garantissent aux usagers du Service les droits d’accès, de rectification et
            d’opposition prévus par la loin° 78-17 du 6 janvier 1978 relative à l’informatique aux fichiers et aux
            libertés.</p>

        <p>15. Les administeurs s’engagent à n’opérer aucune commercialisation des informations et documents transmis
            par
            l’usager au moyen du Service, et à ne pas les communiquer à des tiers, en dehors des cas prévus par la
            loi.</p>

        <p>16. Les informations transmises par l’usager restent sous son contrôle. Il peut à tout moment les modifier ou
            les
            supprimer. Il peut choisir de supprimer toutes les informations de son compte en supprimant son compte
            banana-station.fr. Aucunes informations ne seront conservées après la suppression du compte de l'usager.</p>

        <h3>Engagements et responsabilité</h3>

        <p>17. Les administeurs du Service s’engagent à prendre toutes précautions utiles pour préserver la sécurité des
            données
            collectées auprès de l’usager, et notamment empêcher qu’elles soient déformées, endommagées ou que des tiers
            non
            autorisés y aient accès.</p>

        <p>18. Les données transmises au Service restent de la responsabilité de l’usager. Un nom d'utilisateur non
            adapté
            pourra amener la suppression du compte personnel de l'utilisateur. L'utilisateur est responsable des
            commentaires
            qu'il poste sur le Service. Il se doit donc de respecter les autres utilisateurs et ne pas poster de
            commentaires à
            l'encontre d'autrui et incitant à la haine. Tous commentaires jugés non appropriés par les administeurs du
            Service
            pourront être supprimés sans péavis par les administeurs du Service.</p>

        <p>19. Conformément aux dispositions de l’article 4 de l’ordonnance n°2005-1516 du 8 décembre 2005, les
            présentes
            conditions générales s’imposent à tout utilisateur usager du Service.</p>
    </section>
{% endblock %}